<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905916198824-d93fg47np89e34dnrr4sqdc3heuo5pi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905916198824-d93fg47np89e34dnrr4sqdc3heuo5pi6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ6awfjcjJ2v17rfFluwFEO7gwGJXFsk4</string>
	<key>GCM_SENDER_ID</key>
	<string>905916198824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eHime.Firebase1-self</string>
	<key>PROJECT_ID</key>
	<string>fir-1-self</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1-self.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905916198824:ios:6cfeceea0a512283</string>
	<key>DATABASE_URL</key>
	<string>https://fir-1-self.firebaseio.com</string>
</dict>
</plist>